<div class="login-page">
  <div class="login-box">

    <div class="login-box-body">
      <div class="login-logo">
        <img
          src="https://img.freepik.com/vetores-premium/modelo-de-design-de-logotipo-de-academia-de-ginastica_565520-935.jpg"
          alt="Logo" class="img-responsive">
      </div>
      <p class="login-box-msg">Faça o login para acessar</p>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" name="email" [(ngModel)]="login.email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" name="senha" [(ngModel)]="login.senha" class="form-control" placeholder="Senha">
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
          </div>
          <div class="col-xs-8">

          </div>

        </div>
      </form>
    </div>
  </div>
</div>
