<div class="login-page">
  <app-toast #toast
             [options]="toastOptions"></app-toast>
  <div class="login-box">

    <div class="login-box-body login-form">
      <div class="login-logo">
        <img
          src="https://img.freepik.com/vetores-premium/modelo-de-design-de-logotipo-de-academia-de-ginastica_565520-935.jpg"
          alt="Logo" class="img-responsive">
      </div>
      <p class="login-box-msg">Faça o login para acessar</p>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" name="email"
                 #emailInput
                 [(ngModel)]="login.email"
                 class="form-control"
                 placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password"
                 #senhaInput name="senha"
                 [(ngModel)]="login.senha"
                 class="form-control"
                 placeholder="Senha">
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
          </div>
          <div class="col-xs-8">

          </div>

        </div>
        <app-loading [loading]="loading"></app-loading>
      </form>

    </div>
  </div>
</div>
