<section class="content-header">
  <app-toast #toast
             [options]="toastOptions"></app-toast>
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Papel</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="/papel">Papel</a></li>
          <li class="breadcrumb-item active">{{telaAtual}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- /.content-header -->
<app-loading [loading]="loading"></app-loading>
<!-- Main content -->
<div class="container-fluid">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">
       {{telaAtual}}
      </h3>
    </div>
    <form *ngIf="papel"
          #editForm="ngForm"
          (ngSubmit)="save()">
    <div class="card-body">



        <div class="form-group">
          <label for="id">Id</label>
          <input type="number" disabled  [(ngModel)]="papel.id" id="id" name="id" class="form-control">
        </div>

        <div class="form-group">
          <label for="nome">Nome</label>
          <input #nomeInput   [(ngModel)]="papel.nome" [disabled]="disabled" id="nome" name="nome" class="form-control">
        </div>

        <div class="form-group">
          <label for="descricao">Descrição</label>
          <input #descricaoInput [(ngModel)]="papel.descricao"   [disabled]="disabled" id="descricao" name="descricao" class="form-control">
        </div>

    </div>
    <div class="card-footer clearfix">
      <button type="button" class="btn btn-secondary" (click)="cancel()"><i class="fas  fa-arrow-left"></i> Voltar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid"><i class="fas  fa-save"></i> Salvar</button>
    </div>

    </form>
  </div>
</div>
<!-- /.content -->
