
<app-toast #toast
           [options]="toastOptions"></app-toast>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Papel</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Papel</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<app-loading [loading]="loading"></app-loading>
<div class="container-fluid" *ngIf="!loading">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-12">
          <form #f="ngForm" class="form-inline">
            <div class="form-group mb-2">
              <input [(ngModel)]="filter.nome" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" id="from" name="from" class="form-control" placeholder="Digite....">
            </div>
            <button (click)="search()" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" [disabled]="!f?.valid" class="btn btn-primary  mb-2"><i class="fa fa-search"></i></button>
            <button (click)="openDialog()" class="btn btn-primary  mb-2 ml-3"><i class="fa fa-filter"></i></button>
            <button *ngIf="selectedOption !=  '' " class="btn btn-primary  mb-2 ml-3">{{selectedOption}}</button>
          </form>

        </div>
        <div class="col-md-6 col-sm-12 text-md-right text-sm-left mt-md-0 mt-2">
          <a [routerLink]="['../papel/', 'new']" class="btn btn-primary  mb-2"><i class="fas fa-plus"></i> Novo</a>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive" >
      <!-- Use o diálogo em um ngIf para exibi-lo quando necessário -->
      <app-dialog-box *ngIf="showDialog" (optionSelected)="handleOptionSelected($event)" [receivedObject]="objectList"></app-dialog-box>
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="cursor-pointer col-1" (click)="sort('id')">
            Código
            <i class="fas" [ngClass]="{'fa-sort-amount-up': currentSortColumn === 'id' && isSortAscending, 'fa-sort-amount-down': currentSortColumn === 'id' && !isSortAscending}"></i>
          </th>
          <th class="col-5 cursor-pointer" (click)="sort('nome')">Nome
            <i class="fas" [ngClass]="{'fa-sort-amount-up': currentSortColumn === 'nome' && isSortAscending, 'fa-sort-amount-down': currentSortColumn === 'nome' && !isSortAscending}"></i>
          </th>
          <th class="col-6 cursor-pointer"   (click)="sort('descricao')">Descrição
            <i class="fas" [ngClass]="{'fa-sort-amount-up': currentSortColumn === 'descricao' && isSortAscending, 'fa-sort-amount-down': currentSortColumn === 'descricao' && !isSortAscending}"></i>
          </th>
          <th class="col-1 text-center">Ação</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="papelList.length > 0; else noRecords">
          <tr *ngFor="let papel of papelList" [class.active]="papel === selectedPapel">
            <td class="text-center">{{papel.id}}</td>
            <td>{{papel.nome}}</td>
            <td>{{papel.descricao}}</td>
            <td style="white-space: nowrap" class="text-center align-middle">
              <a [routerLink]="['../papel', papel.id]" class="btn btn-secondary"><i class="fas fa-edit"></i></a>&nbsp;
              <button (click)="delete(papel)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noRecords>
          <tr>
            <td colspan="4" class="text-center">Nenhum registro disponível.</td>
          </tr>
        </ng-template>
        </tbody>
      </table>

    </div>
    <div class="card-footer clearfix">
      <ng-container *ngIf="papelList.length > 0; else naoExibePaginador">
      <app-paginator
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (nextPage)="avancarVoltarPagina(true)"
        (prevPage)="avancarVoltarPagina(false)"
      ></app-paginator>
      </ng-container>
      <ng-template #naoExibePaginador>
      </ng-template>
    </div>
  </div>
</div>
<!-- /.content -->
